table {
  background-color: #f6f6f6;
}

td {
  padding: 20px 20px;
  border: 1px solid #999;
  
}

th {
  background: rgb(42, 165, 136);
  color: white;
  padding: 6px 12px 6px 12px;
  text-align: left;
  border: 1px solid #999; 
  
}

.primary {
  color: #ece8e8;
  background-color: #000000;
  text-align: left;
  padding: 6px 12px;
}

tfoot > tr  {
  background: black;
  color: white;
}

tbody > tr:hover {
  background-color: #b98ee6;
}
